/*001*/
body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(20, 28, 108);
    text-align: center;
}
/*001*/
p{
    padding: 1vh 2vw;
}
/*001*/
h4{
    background-color: rgb(20, 28, 108);
    color : rgb(255, 255, 255);
    margin:auto;
}
/*001*/
section{
    display: block;
    margin: 1vh;
    padding: 1vh;
    border: 0.5em;
    border-color: rgb(20, 28, 108);
    border-radius: 3em;
    border-style: solid;
}
/*001*/
img{
    display: block;
    margin: auto;
    border: 0.5em;
    border-color: rgb(20, 28, 108);
    border-radius: 3em;
    border-style: solid;
    max-width: 50vw;
    max-height: 50vh;
}
/*001*/
nav{
    display: block;
    background-color: rgb(71, 150, 207);
    color:white;
    text-align: start;
}
/*012*/
nav a:hover{
    background-color: rgb(28, 101, 152);
    color:white;
}
/*002*/
nav a{
    background-color: rgb(71, 150, 207);
    font-size: 1.5em;
    display: inline-block;
    text-decoration:none;
    padding: 1vh 5vw;
    color:white;
    justify-content: center;
    margin: 1vh;
}